  <p id="sizechartproductid" data-product-id="{{ product.id }}" >{{ product.id }}</p>

<!-- The Modal -->
<div id="sizeChartModal" class="sizeChartModal">

    <!-- Modal content -->
    <div class="sizeChartModal-content">
        <span class="sizeChartModal-close">&times;</span>
        <h1>Size Chart</h1>
        <!-- Size Chart Table -->
         <div id="size-chart-container"> </div>
    </div>

</div>
{% schema %}
{
  "name": "Size Chart",
  "target": "body",
  "stylesheet": "size-chart.css",
  "javascript": "fashion-sizechart.js",
  "settings": []
}
{% endschema %}
