  <p id="sizechartproductid" data-theProductId="{{ product.id }}" >{{ product.id }}</p>

<!-- The Modal -->
<div id="sizeChartModal" class="sizeChartModal">

    <!-- Modal content -->
    <div class="sizeChartModal-content">
        <span class="sizeChartModal-close">&times;</span>
        <h1>Size Chart</h1>
        <!-- Size Chart Table -->
        <table class="sizeChart-table">
            <!-- Your size chart rows will go here -->
            <!-- Example row: -->
            <tr>
                <th>Size</th>
                <td>XS</td>
                <td>S</td>
                <td>M</td>
                <td>L</td>
            </tr>
            <!-- Add more rows for EU Size, US Size, Chest, Waist, Hips, etc. -->
        </table>
    </div>

</div>
{% schema %}
{
  "name": "Size Chart",
  "target": "body",
  "stylesheet": "size-chart.css",
  "javascript": "fashion-sizechart.js",
  "settings": []
}
{% endschema %}
